@font-face{
  font-family:CircularStdBook;
  src: url(../assets/fonts/CircularStdBook.ttf);
}
@font-face {
  font-family: MADETOMMY;
  src: url(../assets/fonts/MADETOMMY.otf);
}
@font-face {
  font-family: Boosting;
  src: url(../assets/fonts/Boosting.otf);
}
body {
  font-family:CircularStdBook !important;
  background: #111 !important;
  color: #fff !important;
}
.navbar{
 padding-top: 30px !important;
 background: #151628 !important;
}
.navbar-brand{
  font-family: Boosting;
  color: #fff !important;
  font-size: 55px !important;
}
.h-100{
  min-height: 100vh;
}
.h-50{
  min-height: 50vh;
}
.bg-shk{
  background: #343542 !important;
  border-radius: 0px !important;
  padding: 7px !important;
  padding-left: 10px !important ;padding-right: 10px !important;
}
.bg-shk:hover{
  color: #00e571 !important;
}
.border-opacity-3{
  border: 1px solid #00e572;
}

.badge-Experience{
  background: #00e571;
  color: #fff;
  padding: 20px;
}
.text-shk{
  color: #00e571 !important;
}
.btn-shk{
  background: #00e571 !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-size: 14px !important;
  height: 45px;
  border: none !important;
  box-shadow: none !important;
}
.btn-none-shk{
  background: none !important;
  color: rgba(255, 255, 255, 0.664) !important;
  border-radius: 0px !important;
  font-size: 14px !important;
  height: 45px;
  border: none !important;
  box-shadow: none !important;
}
.btn-shk:hover{
  background: #008f48 !important;
}
footer{
  border-top: rgba(255, 255, 255, 0.103) solid 1px; 
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}.icon-link{
  margin: 12px;
  text-decoration: none;
  color: #fff;
  font-size: 23px;
  transition:0.3s;
}.icon-link:hover{
  margin: 12px;
  text-decoration: none;
  color: #00e571;
  font-size: 23px;
  transition:0.3s;
}